# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ruby_apps\ShareMemoApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
